name: Mirror list to Azure Repos
on:
  push:
    branches: [ main ]

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
    # 1. Check out the repo
      - uses: actions/checkout@v4

      # 2. Wrap raw list to blacklist.json
      - name: Build JSON
        run: |
          jq -R -s 'split("\n")[:-1] | { blacklist: . }' \
              raw-ip-list.txt > blacklist.json
          git add blacklist.json
          git commit -m "Auto-generate blacklist.json" || echo "no change"

      # 3. Push to Repo
      - name: Push to Repo
        env:
          AZ_PAT: ${{ secrets.PAT_DOPS }}
          ORG: ${{ secrets.ORG }}
          PROJECT: ${{ secrets.PROJ }}
          REPO: ${{ secrets.REPO }}
          
        run: |
          set -eu
          git config user.email "automation.localitde@zalaris.com"
          git config user.name github-bot

          REMOTE_URL="https://anything:$(AZ_PAT)@dev.azure.com/${ORG}/${PROJECT}/_git/${REPO}"
          
          git remote add az "$REMOTE_URL" || git remote set-url az "$REMOTE_URL"
          git push az HEAD:main --follow-tags
